<!-- app/views/templates/view_cart.html.erb -->

<section class="mt-4">
  <div class="">
    <%= render partial: "/shared/flash_messages"%>
  </div>
  <div class="py-5 mt-3">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-10">
        <% if @cart_items.any?%>
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal text-black text-muted my-5"> <%= pluralize(@cart_items.size,  "item") %> in your cart</h3>
          </div>
        <% end %>

        <% if @cart_items.empty? %>
          <p class="d-flex justify-content-center align-items-center mt-4">Your cart is empty.</p>
        <% else %>
          <% @cart_items.each do |item| %>
            <div class="card rounded-3 mb-5 shadow">
              <div class="card-body p-4">
                <div class="row d-flex justify-content-between align-items-center">
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <%= image_tag item.thumbnails.first, class: 'img-fluid rounded-3', alt: item.name %>
                  </div>
                  <div class="col-md-4 col-lg-4 col-xl-3">
                    <%= link_to item.name, template_path(item), class: "text-muted py-2" %>
                    <div class="d-flex justify-content-start small text-muted">
                      <i class="bi bi-cloud-arrow-down-fill fs-5"></i>
                      <p class="ps-2 pt-1">Instant download</p>
                    </div>
                    <div>
                      <p class="small text-muted">1 PDF, 1 Docx included</p>
                    </div>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2">
                    <h5 class="mb-0"><%= number_to_currency(item.price, unit: "CA$") %></h5>
                  </div>
                  <div class="col-md-2 col-lg-2 col-xl-2 text-end">
                    <%= link_to 'Remove', remove_from_cart_template_path(item), class: "text-decoration-none text-muted", data: {turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

        <% if @cart_items.any? %>
          <div class="d-grid gap-2 col-md-6 col-12 mx-auto my-5">
            <%= link_to 'Proceed to checkout', new_checkout_path, class: "btn btn-dark rounded-pill py-3", method: :post %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
